* {
    margin: 0;
    padding: 0;
    text-align: center;
}
#title {
    background-color: #181212;
    color:white;
    height: 8rem;
    line-height: 8rem;
    
}
.choice{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: 180px;
    width: 180px;
    object-fit: cover;
    
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 100px;
}
.choice:hover{
    opacity: 0.5;
    cursor: pointer;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;

}
.your-score,.comp-score{
    font-size: 10rem;
}
#message-box{
    margin-top: 5rem;
}
#message{
    background-color:#081b31;
    color: white;
    font-size: 3rem;
    display: inline;
    padding: 2rem;
    border-radius: 2rem;
}
.msg{
    background-color:#081b31;
    color: white;
    font-size: 3rem;
    display: inline;
    padding: 2rem;
    border-radius: 2rem;
    visibility: hidden;
}
.btn-div {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 2rem;
    margin-right: 2rem;
}
.btn{
    font-size: 2rem;
    background-color: #081b31;
    color: white;
    padding: 1.5rem;
    border-radius: 1rem;
}